.container { position:relative; padding:0 0 0 0; }

#header {  
	margin:auto;
        display: inline-block;
	background-color:white;
	color:black;
	margin-left:10%;
	text-align:left;
        position: relative;
        width: 90%;
        
}

#content { 
	margin:auto;
	margin-left: 11%;
        display: inline-block; 
	float: left;
        position: relative;
	width:75%;
}
#footer { 
	margin:auto;
	display: inline-block;
	background-color:white;
	color:black;
	text-align:center;
        position: relative;
        width: 100%;
        
	
	
}

